{% extends 'bookstore/base.html'%}
{%block content%}
<div class="container ">
	<div class="well">
        <div class="row">
			<h1>Checkout</h1>
			<div class="col-sm-6">
				<form action="." method="post" class="order-form">
					<div class="form-group row">
						{{ form.as_p }}
						<p><input type="submit" value="Place order"></p>
					</div>
					{% csrf_token %}
				</form>
			</div>	
			
			<div class="col-sm-5">
				<div class="order-info">
				<h3>Your order</h3>
				<table class="table table-condensed">
				    <thead>
				      <tr>
				        <th>Quantity</th>
				        <th>Quantity</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				    	{% for item in cart.items %}
						<tr>
						<td>{{ item.product }}</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.subtotal }}</td>
						</tr>
						{% endfor %}
						<tr>
						<td></td>
						<td></td>
						<td>Total: {{ cart.total }} Euros</td>
						</tr>
				  </tbody>
				</table>
				</div>
			</div>

		</div>
		
	</div>	
</div>

{% endblock %}

<div class="col-sm-5">
	<div class="order-info">

		<table class="table table-condensed">
		    <thead>
		      <tr>
		        <th>Quantity</th>
		        <th>Product</th>
		        <th>Price</th>
		      </tr>
		    </thead>
		    <tbody>
		    	{% for item in cart.items %}
				<tr>
				<td>{{ item.quantity }}</td>
				<td>{{ item.product }}</td>
				<td>{{ item.subtotal }}</td>
				</tr>
				{% endfor %}
				<tr>
				<td></td>
				<td></td>
				<td>Total: {{ cart.total }} Euros</td>
				</tr>
		  </tbody>
		</table>
	</div>
</div>