{% extends 'bookstore/base.html'%}
{% load staticfiles %}

{% block content %}

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="font-family: 'Gravitas One', cursive; font-weight: 400;">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p style="font-size:1.5em;">With hundreds of book titles, including those from our own Himalayan Institute Press, plus props for asana and meditation, clothing, music, greeting cards, calendars, and many toiletries you may have forgotten, we have stocked everything you might need to support your growing practice and make your stay here delightful and fulfilling. With each purchase, you can be proud to know that you are helping support our humanitarian efforts in India, Africa, and Mexico.</p>
            </div>
        </div>
        <h2>Bookstore Hours</h2>
        <hr>
        <div class="row"; style="font-size:1.5em;">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><strong>Monday</strong></td>
                                <td style="text-align: left;">8:00 am - 17:00 am</td>
                            </tr>  
                            <tr>
                                <td><strong>Tuesday</strong></td>
                                <td style="text-align: left;">8:00 am - 21:00 am</td>
                            </tr> 
                            <tr>
                                <td><strong>Wednesday</strong></td>
                                <td style="text-align: left;">8:00 am - 17:00 am</td>
                            </tr> 
                            <tr>
                                <td><strong>Thursday</strong></td>
                                <td style="text-align: left;">8:00 am - 21:00 am</td>
                            </tr> 
                            <tr>
                                <td><strong>Friday</strong></td>
                                <td style="text-align: left;">8:00 am - 17:00 am</td>
                            </tr> 
                            <tr>
                                <td><strong>Saturday</strong></td>
                                <td style="text-align: left;">Closed</td>
                            </tr> 
                            <tr>
                                <td><strong>Sunday</strong></td>
                                <td style="text-align: left;">Closed</td>
                            </tr> 
                        </tbody>          
                    </table>
                </div> 
            </div>
            <div class="col-md-6">
                <p id="info">
                    <em>
                        To accommodate the schedule of our trainings and seminars, the store hours often change, Below are the current hours, but
                        <strong>please call (570) 253-5551 ext. 21 to confirm</strong>
                    </em>
                </p>
                </div>
        </div>


    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>Nick Lontorfos
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>Kiriakos Tourkocostas
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>Vasilis Nikoletopoulos
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>

    </div>

    <hr>



</div>
<!-- /.container -->

</body>
{% endblock %}