{% extends 'bookstore/base.html'%}

{%block content%}
<script type="text/javascript">
	$(document).ready(function () {
		console.log('user:'+'{{user.is_authenticated}}')
		console.log('quant is: '+{{results.quantity}})

		if('{{user.is_authenticated}}'=='True' && {{results.quantity}}>0){
			$("#buyButton").prop( "disabled", false );
			$("#buyButton").attr("data-toggle", "modal");
			$("#msg").css("display", "none");
			$("#msg2").css("display", "none");
		}
		else if('{{user.is_authenticated}}'=='True' && {{results.quantity}}<1){
			$("#buyButton").prop( "disabled", true );
			$("#buyButton").removeAttr('data-toggle');
			$("#msg").css("display", "none");
		}
		else if('{{user.is_authenticated}}'=='False' && {{results.quantity}}>1){
			$("#buyButton").prop( "disabled", true );
			$("#buyButton").removeAttr('data-toggle');
			$("#msg2").css("display", "none");
		}
		else{
			$("#buyButton").prop( "disabled", true );
			$("#buyButton").removeAttr('data-toggle');
		}

	});
</script>

<div class="container">
	<div class="row col-sm-12">
		<div class="row col-sm-4">
			<img src="{{pic}}" class="img-thumbnail" alt="book-img" width="304" height="236">
		</div>
		<div class="row col-sm-8">
			<div class='list-group'>
				<h3>{{ book.title }}</h3>
				<hr>
				<p>ISBN: {{ book.isbn }}</p>
				<p>Price: {{ book.price }}&euro;</p>
				<p>Category: {{ book.category }}</p>
				<p>Availability: {{results.quantity}}</p>
				<hr>
				<div class="btn-group">					
					<form action="{% url 'shopping:shopping-cart-add' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="book_isbn" value="{{book.isbn}}">
	  					<input type="submit" value="Add to cart" class="btn btn-success" id="buyButton">
	  					<a href="{% url 'booksapi:apiSearch' book.isbn %}" class="btn btn-primary" role="button" target="_blank">Google Books api</a>
					</form>
				</div>
				<p style="color:red" id="msg">You have to be logged in to use the Cart!</p>
				<p style="color:red" id="msg2">Out of Stock!</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
