{% extends 'bookstore/base.html'%}

{%block content%}
<script type="text/javascript">
	$(document).ready(function () {
	
		if('{{user.is_authenticated}}'=='True'){
			$("#buyButton").removeClass('disabled');
			$("#buyButton").attr("data-toggle", "modal");
			$("#msg").css("display", "none");
		}
		else{
			$("#buyButton").addClass('disabled');
			$("#buyButton").removeAttr('data-toggle');
		}
		if({{results.quantity}}>0){
			$("#buyButton").removeClass('disabled');
			$("#buyButton").attr("data-toggle", "modal");
			$("#msg2").css("display", "none");
		}
		else{
			$("#buyButton").addClass('disabled');
			$("#buyButton").removeAttr('data-toggle');
		}
	});
</script>

<div class="container">
	<div class="row col-sm-12">
		<div class="row col-sm-4">
			<img src="{{pic}}" class="img-thumbnail" alt="book-img" width="304" height="236">
		</div>
		<div class="row col-sm-8">
			<div class='list-group'>
				<h3>{{ book.title }}</h3>
				<hr>
				<p>ISBN: {{ book.isbn }}</p>
				<p>Price: {{ book.price }} Euros</p>
				<p>Category: {{ book.category }}</p>
				<p>Availability: {{results.quantity}}</p>
				<hr>
				<a href="{% url 'booksapi:apiSearch' book.isbn %}" class="btn btn-primary" role="button" target="_blank">Google Books api</a>
				<a href="{% url 'shopping:shopping-cart-add' book.isbn %}" class="btn btn-success" role="button" id="buyButton">Add to cart</a>
				<p style="color:red" id="msg">You have to be logged in to use the Cart!</p>
				<p style="color:red" id="msg2">Out of Stock!</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
