{% extends 'bookstore/base.html'%}
{%block content%}

{% load carton_tags %}

<script type="text/javascript">
  $(document).ready(function () {

    if({{ my_cart.count }} !=0){
      $("#checkoutBtn").prop( "disabled", false );
      $("#checkoutBtn").attr("data-toggle", "modal");
      $("#emptyMsg").css("visibility", "hidden");
    }
    else{
      $("#checkoutBtn").prop("disabled", true );
      $("#emptyMsg").css("visibility", "visible");
    }

  });
</script>


<div class="container">
    <h2 style="font-family: 'Gravitas One', cursive; font-weight: 400;">Shopping Cart</h2>
    {% get_cart as cart %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>    
        {% for item in cart.items %}
        <tbody>
          <tr>
            <td>{{ item.product }}</td>
            <td><form target="." method="POST">
                {% csrf_token %}
                <input type="hidden" name="book_isbn" value="{{item.product.isbn}}">
                <input type="number" name="book_new_quant" min="0" step="1" value="{{ item.quantity }}" required>
                <input type="submit" value="Change Quantity" class="btn btn-info btn-xs">
              </form>
            </td>  
            <td>{{ item.subtotal }}&euro;</td>
            <td>
              <form action="{% url 'shopping:shopping-cart-remove' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="book_isbn" value="{{item.product.isbn}}">
                <input type="submit" value="Remove" class="btn btn-danger btn-xs" id="removeButton">              
              </form>
            </td>
          </tr>    
        {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total: {{ cart.total }}&euro;</td>
          </tr>    
          </tbody>
      </table>  
      <p class="text:right">
        <div class="btn-group pull-right">
          <a href="{% url 'bookstore:list' %}" class="btn btn-primary">Continue Shopping</a>
          <a href="{% url 'orders:order_create' %}"><button class="btn btn-success" id="checkoutBtn">Checkout</button></a>
        <p style="color:red; text-align:right; visibility: hidden" id="emptyMsg">Cart Empty!</p>
        </div>
      </p>     
    </div>     
</div>
  
{% endblock %}

