{% extends 'bookstore/base.html'%}
{%block content%}

{% load carton_tags %}


<div class="container">
    <h2 style="font-family: 'Gravitas One', cursive; font-weight: 400;">Shopping Cart</h2>
    {% get_cart as cart %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>    
        {% for item in cart.items %}
        <tbody>
          <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.quantity }}</td>  
            <td>{{ item.subtotal }}</td>
            <td><a href="{% url 'shopping:shopping-cart-remove' item.product.isbn %}" class="btn btn-danger btn-xs">Remove</a></td>
          </tr>    
        {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total: {{ cart.total }}</td>
          </tr>    
          </tbody>
      </table>  
      <p class="text:right">
        <div class="btn-group pull-right">
        <a href="{% url 'bookstore:list' %}" class="btn btn-primary">Continue Shopping</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-success">Checkout</a>
        </div>
      </p>     
    </div>     
</div>
  
{% endblock %}

